<h1>Изменить профиль</h1><br />

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @user do |f| %>
      <%= render 'shared/errors' %>
      
      <%= f.input :email, label: 'Введите емэйл' %>
      <%= f.input :password, label: 'Введите новый пароль' %>
      <%= f.input :password_confirmation, label: 'Повторите пароль' %>
      <%= f.submit 'Изменить', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>