<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--<section id="container">-->
    <nav class="navbar navbar-header">
      <div class="navbar-inner">
        <div class="container">
          <h1><%= link_to "Флэшкарточкер", root_path %></h1>
          <nav class="navigation-links">
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to "Все карточки", cards_path %></li>
              <li><%= link_to "Добавить карточку", new_card_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </nav>
  <div class="container">
    
      <% if flash[:notice] %>
       <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
      <% end %>
      
    <%= yield %>
  </div>
</body>
</html>
